<header>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= session_link %></li>
    <% if logged_in? %>
      <li><%= link_to 'Profile', student_path(current_user) %></li>
    <% end %>
    <li class="divider"></li>
    <li></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><%= session_link %></li>
    <% if logged_in? %>
      <li><%= link_to 'Profile', student_path(current_user) %></li>
    <% end %>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav style="min-height: 80px">
    <div class="container">
      <div class="nav-wrapper">
        <span id="logo" class="brand-logo right"><%= image_tag("logo4.png") %><span class=""><%= link_to 'South Central Louisiana State University', root_path, id: 'logo-name' %></span></span>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

          <li><%= link_to 'Courses', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        <% if logged_in? %>
          <li><%= link_to 'Students', students_path %></li>
          <li><%= link_to 'new course', courses_new_path %></li>


          <% end %>
        </ul>
      </div>
    </nav>

        <ul class="sidenav" id="mobile-demo">
          <li><%= link_to 'Courses', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        <% if logged_in? %>
          <li><%= link_to 'Students', students_path %></li>
          <li><%= link_to 'new course', courses_new_path %></li>
        <% end %>

        </ul>
      <!-- </div>
  </div>
</nav> -->

<% flash.each do |key, message| %>
  <div class="container">
    <div class="row sign-up-form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2" id="fade-out-target">
          <span class="white-text">
            <%= message %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
</header>
